body{
   background: url("https://media.istockphoto.com/id/1732963074/photo/starry-night-sky-in-space.webp?b=1&s=170667a&w=0&k=20&c=GA9kMeXVlxEofCEBhETOfi1aiZE39rPxMsefAW7KE94=");

    height:400vh;
text-align:center;
  
}
.img-1{
    height:300px;

        padding-left:25px;
    padding-right:25px;
}
.page{
        text-align:center;
padding-bottom:75vh;
}
h1{
padding-bottom:25px;
font-size:75px;
text-decoration: underline;
}
.containter{
background-color: rgba(0, 0, 0, 0.4);
        max-width: 125vh;
        min-width:50vh;
        margin:auto;
    text-align:center;
}
        
p{

    font-size:25px;
     text-align:center;
}
*{
    font-family: "Cabin", sans-serif;
    color:white;
}
#top{
    padding-top:100px;
}
.hidden{
    opacity:0;
    filter:blur(5px);
    transform:translateX(-50%);
    transition: all 1s;
}
.show{
    opacity:1;
        filter:blur(0);
    transform:translateX(0);
}
